*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: black;
  background-color: #daf6ff;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  margin: 3px;
  padding-top: 10px;
}

p {
  font-size: min(max(16px, 3vw), 24px);
  line-height: 1.5;
  margin: 0 0 25px;
  text-align: left;
}

li {
  text-align: left;
  font-size: min(max(16px, 3vw), 18px);
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #000;
}

a:focus,
a:hover {
  text-decoration: none;
  color: #557581;
}

#mainNav a {
  color: white;
}

#mainNav a:focus,
#mainNav a:hover {
  text-decoration: none;
  color: #f1d235;
}

#mainNav {
  font-family: 'Josefin Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

.navbar-brand {
  padding: 5px;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

.masthead {
  display: table;
  width: 100%;
  min-height: 100vh;
  /* padding: 200px 0; */
  text-align: center;
  color: white;
  background:
    linear-gradient(rgba(169, 196, 207, 0),
      rgba(169, 196, 207, 0)),
    url("../img/intro-bg.jpg") no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .intro-text {
  font-size: min(max(12px, 8vw), 18px);
}

.intro-text {
  text-align: center;
  padding: 10px;

}

.improve-contrast-box {
  background: rgba(0, 0, 0, .5);
  border-radius: 5px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);

}

.brand-heading {
  font-size: min(max(24px, 10vw), 100px);
  padding: 5vw;
  text-align: center;
  margin-top: 25px;
}

.brand-heading-box {
  background: rgba(0, 0, 0, .7);
  border-radius: 5px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
  min-height: 5%;
  position: absolute;
  max-width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clear: both;
}


.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 35vh;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: black;
  border: 2px solid black;
  border-radius: 100% !important;
  background: transparent;
  position: absolute;
  float: both;
  left: 50%;
  transform: translate(-50%, 0%);
}

.btn-circle:focus,
.btn-circle:hover {
  color: black;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
}

.content-section {
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 100vh;
  width: 70%;
  max-width: 640px;
  min-width: 300px;
  margin: auto;
}

.tools-section {
  color: white;
  min-height: 100vh;
  position: relative;
  background:
    linear-gradient(rgba(255, 0, 0, 0),
      rgba(255, 0, 0, 0)),
    url("../img/downloads-bg.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#tools a,
#tools a:focus,
#tools a:hover {
  text-decoration: none;
}

#tools a {
  color: #ffffff;
}

#tools a:focus,
#tools a:hover {
  color: #f1d235;
}

#tools .improve-contrast-box {
  padding: 25px;
  min-height: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .7);
}

.btn {
  font-family: 'Josefin Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}


@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }

  .masthead {
    height: 100%;
    padding: 0;
  }





}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }

  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
  }

  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }

  #mainNav .nav-link.active:hover {
    color: white;
  }

  .content-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  #map {
    height: 350px;
  }
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 50px 0;
}

footer p {
  font-size: 14px;
  margin: 0;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}