.dark-medium-contrast {
  --md-sys-color-primary: rgb(227 214 255);
  --md-sys-color-surface-tint: rgb(207 189 254);
  --md-sys-color-on-primary: rgb(42 27 82);
  --md-sys-color-primary-container: rgb(152 135 197);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(197 231 159);
  --md-sys-color-on-secondary: rgb(21 43 0);
  --md-sys-color-secondary-container: rgb(123 154 90);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(229 224 136);
  --md-sys-color-on-tertiary: rgb(40 39 0);
  --md-sys-color-tertiary-container: rgb(151 148 69);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 209 209);
  --md-sys-color-on-error: rgb(72 18 23);
  --md-sys-color-error-container: rgb(203 122 124);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(20 18 24);
  --md-sys-color-on-background: rgb(230 225 233);
  --md-sys-color-surface: rgb(20 18 24);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(73 69 78);
  --md-sys-color-on-surface-variant: rgb(224 218 229);
  --md-sys-color-outline: rgb(181 176 187);
  --md-sys-color-outline-variant: rgb(147 142 153);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(230 225 233);
  --md-sys-color-inverse-on-surface: rgb(43 41 47);
  --md-sys-color-inverse-primary: rgb(77 63 119);
  --md-sys-color-primary-fixed: rgb(232 221 255);
  --md-sys-color-on-primary-fixed: rgb(21 3 61);
  --md-sys-color-primary-fixed-dim: rgb(207 189 254);
  --md-sys-color-on-primary-fixed-variant: rgb(59 45 99);
  --md-sys-color-secondary-fixed: rgb(203 237 165);
  --md-sys-color-on-secondary-fixed: rgb(7 20 0);
  --md-sys-color-secondary-fixed-dim: rgb(176 209 139);
  --md-sys-color-on-secondary-fixed-variant: rgb(35 61 7);
  --md-sys-color-tertiary-fixed: rgb(235 230 141);
  --md-sys-color-on-tertiary-fixed: rgb(19 18 0);
  --md-sys-color-tertiary-fixed-dim: rgb(206 202 116);
  --md-sys-color-on-tertiary-fixed-variant: rgb(58 56 0);
  --md-sys-color-surface-dim: rgb(20 18 24);
  --md-sys-color-surface-bright: rgb(70 67 74);
  --md-sys-color-surface-container-lowest: rgb(8 7 11);
  --md-sys-color-surface-container-low: rgb(31 29 34);
  --md-sys-color-surface-container: rgb(41 39 45);
  --md-sys-color-surface-container-high: rgb(52 49 56);
  --md-sys-color-surface-container-highest: rgb(63 60 67);
}
